<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Power Fit - Inicio</title>
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
  <link rel="stylesheet" href="../home/css/inicio.css">
</head>

<body>
  <header>
    <nav class="barra-navegacion">
      <div class="logo">
        <img src="../registrer/images/Logo_powerfit.png" alt="Logo Power Fit">
      </div>
      <ul>
        <li id="link-registro"><a href="../registrer/registro.html" class="boton">Crear Cuenta</a></li>
        <li id="link-login"><a href="../login/iniciar_sesion.html" class="boton">Iniciar sesión</a></li>
        <li id="link-logout" style="display: none;"><a href="#" class="boton" id="btn-logout">Cerrar Sesión</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="hero">
      <div class="container">
        <div class="texto-hero">
          <h1>Transforma tu cuerpo con <br> <span>Power Fit</span> </br> </h1>
          <p>Plataforma 100% gratuita para crear, personalizar, compartir rutinas de ejercicio y alcanzar tus objetivos
            fitness con nuestra comunidad.</p>
          <a href="../registrer/registro.html" class="boton">Comenzar Ahora</a>
        </div>
        <div class="imagen-hero">
          <img src="../home/images/fondo_inicio.jpeg" alt="Fondo del inicio de la pagina">
        </div>
      </div>
    </section>

    <div>
      <section class="planes">
        <h1><span>Planes Personalizados</span></h1>
        <h4>Diseñados específicamente para ti y tus objetivos</h4>
        <div class="tarjetas-planes">
          <div class="tarjeta">
            <h3>Pérdida de Peso</h3>
            <h5>Planes de ejercicio y nutrición enfocados en la pérdida de peso saludable</h5>
            <h5>
              <br> ✔ Ejercicios cardiovasculares</br>
              <br> ✔ Dieta balanceada </br>
              <br> ✔ Seguimiento de calorías</br>
            </h5>
          </div>
          <div class="tarjeta">
            <h3>Tonificación Muscular</h3>
            <h4>Rutinas para fortalecer y tonificar los músculos de todo el cuerpo.</h4>
            <h5>
              <br> ✔ Entrenamiento de fuerzam</br>
              <br> ✔ Nutrición rica en proteínas </br>
              <br> ✔ Ejercicios específicos </br>
            </h5>
          </div>
          <div class="tarjeta">
            <h3>Bienestar General</h3>
            <h4>Enfoque holístico para mejorar tu salud y bienestar general.</h4>
            <h5>
              <br> ✔ Ejercicios de flexibilidad </br>
              <br> ✔ Alimentación balanceada </br>
              <br> ✔ Técnicas de relajación </br>
            </h5>
          </div>
        </div>
      </section>
    </div>

    <div>
      <section class="caracteristicas">
        <h1><span>Características principales</span></h1>
        <h4>Todo lo que necesitas para alcanzar tus objetivos fitness en un solo uso lugar</h4>

        <div class="tarjetas-caracteristicas">
          <div class="tarjeta">
            <h3>🏋️‍♂️Crea rutinas</h3>
            <h4>Diseña rutinas personalizadas seleccionando ejercicios, series, repeticiones y descansos</h4>
          </div>

          <div class="tarjeta">
            <h3>⏱️Controla tiempos</h3>
            <h4>Establece la duración de cada ejercicio y los tiempos de descanso, según tus necesidades.</h4>
          </div>

          <div class="tarjeta">
            <h3>👥Comunidad</h3>
            <h4>Comparte tus rutinas, descubre las de otros usuarios y recibe retroalimentación.</h4>
          </div>

          <div class="tarjeta">
            <h3>⭐Califica rutinas</h3>
            <h4>Valora las rutinas de la comunidad y deja tus opiniones para ayudar a otros.</h4>
          </div>

          <div class="tarjeta">
            <h3>📝Guías detalladas</h3>
            <h4>Accede a instrucciones visuales y descripciones visuales y escripciones de cada ejercicio para una
              ejecución correcta.</h4>
          </div>

          <div class="tarjeta">
            <h3>🛡️100% Gratuito</h3>
            <h4>Todas las funcionalidades disponibles,sin costo alguno.Sin suscripciones, ni pagos ocultos.</h4>
          </div>

        </div>
      </section>
    </div>

  </main>

  <footer>
    <div class="footer-contenido">
      <div class="footer-columna">
        <h4>Enlaces</h4>
        <ul>
          <li><a href="#">Inicio</a></li>
        </ul>
      </div>
      <div class="footer-columna">
        <h4>Legal</h4>
        <ul>
          <li><a href="#">Términos y Condiciones</a></li>
          <li><a href="#">Política de Privacidad</a></li>
        </ul>
      </div>
      <div class="footer-columna">
        <h4>Contacto</h4>
        <p>📩<a href="mailto:contacto@powerfit.com"> contacto@powerfit.com</a></p>
        <p>📞 +57 311 1111111</p>
      </div>
    </div>
    <div class="footer-copy">
      <p>© 2025 Power Fit. Todos los derechos reservados.</p>
    </div>
  </footer>

  <script type="module" src="../home/scripts/inicio.js"></script>
</body>

</html>